// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a{
    text-decoration: none!important;
}
.border_color_1{
    border-left: solid 3px #FF4D4D;
}
.border_color_2{
    border-left: solid 3px #F9BE00;
}
.border_color_3{
    border-left: solid 3px #0F8839;
}
.color-main{
    
        color: #713BDB;

}

#sidebar{
    background: #fff;
    color: #8B92A7;
    min-height: 707px;

    .main-purple{
        color: #713BDB;
    }
    .main-purple-back{
        background: #713BDB;
    }
    .color-white{
        color: white;
    }
    .booking-btn{
        border-radius: 8px;
        font-size: 12px;
    }

    .logo-area{
        width: 100%;
        height: 60px;
        padding: 20px;
        // background: #000C15;
        color: #fff;
        text-align: center;
        p{
            font-weight: 500;
            font-size: 18px;
        }
    }

    ul{
        padding: 0px;
    }

    ul li{
        color: #ccc;
        padding: 10px;
        font-size: 14px;
        list-style: none;
        text-align: center;
        border-radius: 8px;
        
        a{
            color: #A0A6B7!important;
            font-weight: 500;
        }
    }

    ul li:hover{
        cursor: pointer;
        transition: 0.3s all;
        // background: #713BDB;
        
        .hover-black{
            color: #000!important;
        }
        .hover-purple{
            color: #713BDB!important;   
        }
        
    }
}

.hospital-info-color{
    color: #858796;
}
 
.view-btn{
    .gray-color{
        color: #6c757d;
    }
}
.view-btn:hover{
    .gray-color{
        color: #fff!important;
    }
    background-color: #3490dc!important;
    transition: all .3s;
}

.info_box{
    border-radius: 10px;
    overflow:hidden;

    .dark-green{
        background: #257E4A;
    }
    .dark-red{
        background: #B41E18;
    }
    .dark-yellow{
        background: #B8A500;
    }
    .dark-blue{
        background: #186EB4;
    }
    .line{
        width: 125%;
        height: 0.04rem!important;
        opacity: 0.5;
        margin-left: -24px;
        // margin: 0 -24px  0 24px;
    }

    .heading{
        color:#fff;
        font-size: 13px;
        font-weight: 600;
    }
    .info_box_content{
        
        .info{
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 3px;
        }
        .info-small{
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
        }
        .symbol{
            color: #fff;
            font-size: 35px;
            font-weight: 700;
            
        }
    }
    
}

.notification_row{
    border-radius: 8px!important;
    // border: solid 1px #713BDB!important;
    background: #713BDB!important;
}

.active_page{
    a{
        .hover-purple{
            color: #713BDB!important;
        }
        .hover-black{
            color: #000!important;
        }
    }
}
.hospital-home-chart{
    border-radius: 10px!important;
}
